html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
nav img{
    height: 50px;
}

nav a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: coral;
}

header{
    background-color: red;
    height: 800px;
    background-image: url(images/mulhermaravilha.png);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div{
    width: 70%;
}

header h1{
    font-size: 80pt;
}

header h2{
    font-size: 30pt;
}

button{
    border-radius: 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.botaoConfira{
    background-color: white;
    color: coral;
    font-size: 18pt;
    height: 70px;
    width: 250px;
}

#filmes{
    font-size: 30pt;
}

#caixaPesquisa{
    width: 500px;
    height: 40px;
    font-size: 12pt;
    color: dimgrey;
    background-color: white;
    border: solid 1px dimgray;
}

#botaoPesquisa{
    background-color: black;
    color: white;
    font-size: 12pt;
    height: 40px;
    width: 200px;
}

.botaoTrailler{
    background-color:orangered;
    color: white;
    font-size: 13pt;
    width: 175px;
    height: 50px;
}

.flexCartazes{
    display: flex;
    justify-content: space-around;
}

.divCartaz{
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    align-items: center;
}

img{
    height: 250px;
}

#fraseBemResolvida{
    background-color: black;
    color: white;
    font-size: 40pt;
    width: max-content;
}

#divDestaque{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#destaque{
    font-size: 30pt;
}

#imgJackie{
    border-radius: 100%;
    height: 400px;
}

#nomeJackie{
    color: orangered;
    font-size: 30pt;
}

#descricaoJackie{
    font-size: 20pt;
}

#botaoJackie{
    border: solid 1px white;
    background-color: black;
}

footer{
    height: 300px;
    background-color: orangered;
    color: white;
}

.simboloContatos{
    height: 60px;
}

#simboloYoutube{
    height: 100px;
}

#divFooter{
    display: flex;
    justify-content: space-around;
}

#contato{
    font-size: 30pt;
}

#divSimbolos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sugestoes{
    font-size: 20pt;
}

