html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    margin: 0;
}

nav{
    align-items: center;
    background-color: white;
    display: flex;
    height: 70px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}
nav img{
    height: 50px;
}

nav a{
    color: black;
    font-size: 14pt;
    margin-left: 50px;
    text-decoration: none;
}

a:hover{
    color: coral;
}

header{
    align-items: center;
    background-color: red;
    background-image: url(images/mulhermaravilha.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    height: 800px;
}

header div{
    width: 70%;
}

header h1{
    font-size: 80pt;
    margin: 0;
}

header h2{
    font-size: 30pt;
    font-weight: normal;
    margin-top: 0;
}

button{
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}

.botaoConfira{
    background-color: white;
    color: coral;
    font-size: 18pt;
    font-weight: bold;
    height: 70px;
    width: 250px;
}

section{
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
}

#divSecao{
    display: flex;
    justify-content: space-between;
}

#filmes{
    font-size: 30pt;
}

#caixaPesquisa{
    background-color: white;
    border: solid 1px dimgray;
    border-radius: 50px;
    color: dimgrey;
    font-size: 15pt;
    height: 40px;
    text-align: center;
    width: 750px;
}

.botaoPesquisa{
    background-color: black;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    height: 50px;
    width: 180px;
}

.botaoTrailler{
    background-color:orangered;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    height: 50px;
    width: 175px;
}

.flexCartazes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}

.divCartaz{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    text-align: center;
    width: 180px;
}

.divCartaz p{
    font-weight: bold;
    height: 50px; 
    width: 180px;
}

img{
    height: 250px;
}

#fraseBemResolvida{
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 40pt;
    font-weight: bold;
    width: max-content;
}

aside{
    margin: 0;
}

.divDestaque{
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    height: 800px;
}

#divFotoJackie{
    font-size: 18pt;
    text-align: center;
    width: 50%;
}

#divTextoJackie{
    width: 50%;
  }

#imgJackie{
    border-radius: 100%;
    height: 400px;
    width: 400px
}

#nomeJackie{
    color: orangered;
    font-size: 30pt;
}

#descricaoJackie{
    font-size: 18pt;
    width: 65%;
}

#botaoJackie{
    border: solid 1px white;
    background-color: transparent;
}

#botaoJackie:hover{
    background-color: white;
    color: black;
}

button:hover{
    background-color: transparent;
    border: solid 2pt black;
    color: black;
    cursor: pointer;
    font-weight: bold;
    }

footer{
    background-color: orangered;
    color: white;
    height: 300px;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}

.simboloContatos{
    height: 60px;
    width: 60px;
}

#youTube{
    height: 90px;
    padding-left: 0;
    width: 90px;  
}

#divFooter{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#contato{
    font-size: 30pt;
    margin: 0;
    padding-top: 50px;
    width: 50%;
}

#divSimbolos{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

#divsugestoes{
    font-size: 20pt;
    width: 50%;
}

#footerH2{
    font-size: 20pt;
}

#footerP{
    font-size: 15pt;
}
